h1 {
  color: #900C3F;
  font-family: 'DM Serif Text', serif;

}

p {
  color: #FF5733;
  font-family: 'DM Serif Text', serif;

}

.description {
  color: #FF5733;
  width: 600px;
  font-family: 'DM Serif Text', serif;

}

@media (max-width: 1080px) {
  body {
    background-color:@media (min-width: 1081px) {
      body {
        background-color: #900C3F  ;
        font-family: 'DM Serif Text', serif;
      }
    };
    font-family: 'DM Serif Text', serif;
  }
}

@media (min-width: 1081px) {
  body {
    background-color: #DAF7A6;
    font-family: 'DM Serif Text', serif;
  }
}
@media (min-width: 1200px) {
  body {
    background-color:#FFC300;
    font-family: 'DM Serif Text', serif;
  }
}


.top {
  width: 600px;
}

.left {
  width: 600px;
  float: left;
}

.right {
  width: 600px;
  float: right;
}

@media (max-width: 1080px) {

  img {
  width: 100%
  }
}
